body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(137, 43, 226, 0.244);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch-wrapper {
    max-width: 650px;
    width: 100%;
    padding: 80px;
    background-color: rgba(137, 43, 226, 0.543);
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

h1 {
 color:rgba(31, 16, 113, 0.998);
}

.score-wrapper {
    height: 150px;
    overflow-y: auto;
}

.score-wrapper::-webkit-scrollbar {
    width: 10px;
}

.score-wrapper::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    border-radius: 5px;
}

@media screen and (max-width: 400px) {
    .time-show-wrapper {
        display: flex;
        flex-direction: column;
    }
}